body {
    background-color: #ffff;
}

.category {
    background-color: #8B0000;
    color: #ffff;
    text-transform: uppercase;
    padding: 3px 10px;
    position: absolute;
    font-size: 12px;
    letter-spacing: 1px;
}

.rows {
    display: flex;
    flex-direction: column;
}